@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
	color: rgb(224, 221, 221);
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	background-image: url("../img/stars.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.countdown-container {
	display: flex;
}

h1 {
	font-size: 4rem;
	margin-top: 5rem;
	font-weight: normal;
}

.big-text {
	font-size: 6rem;
	font-weight: bold;
	line-height: 1;
	margin: 0 2rem;
}

.countdown-el {
	text-align: center;
}

.countdown-span {
	font-size: 1.3rem;
}
